h1 {
  display: flex;
  justify-content: center;
 
  font-family: Helvetica, Arial, sans-serif;
  Font-size: 34px;
  Font-weight: 300;
  color: rgb(0, 179, 155);
}
.foot{
  text-align: center ;
  Font-size: 12px ;
  border-top: solid 1px gainsboro ;
  padding-top: 10px ;
}


a {
  text-decoration: none ;
 color: rgb(0, 179, 155) ;
   

}
.App {
  font-family: Helvetica, Arial, sans-serif; ;
  color: rgb(116, 116, 116);
}
.logo {
 margin: 0 47% ;
}